.file-list-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.file-list-container h2 {
    margin-bottom: 10px;
}

.file-list-container ul {
    list-style: none;
    padding: 0;
}

.file-list-container li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-list-container li:last-child {
    border-bottom: none;
}

.error {
    color: red;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.delete-button:hover {
    color: darkred;
    transform: scale(1.1);
}
