html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  text-align: center;
  border: none;
  max-width: 600px;
  width: 100%;
  margin: 0 0 20px;
  flex: 1;
}

.header {
  padding-top: 20px;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  background-color: #f1f1f1;
  margin-top: auto;
}