/* Reset and base styles */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*user-select: none;*/
}

:root {
  --footer-bg-color: #f1f1f1;
  --footer-text-color: #333;
}

[data-theme='dark'] {
  --footer-bg-color: #333;
  --footer-text-color: #f1f1f1;
}